.env
.venv/
node_modules/
dist/
__pycache__/
*.pyc
vector_db/chroma/
uploads/*
!uploads/.gitkeep
mysql_data/

# OS Files
.DS_Store
Thumbs.db

# Temporary & Log files
.tmp/
*.log
*.swp

# IDEs
.vscode/
.idea/

# Python & Testing
.pytest_cache/
.coverage
htmlcov/
